* text=auto eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.webp -text
*.mp4 -text
*.pdf -text
*.ttf -text
*.otf -text
*.woff -text
*.woff2 -text
*.aar -text
*.jar -text
*.so -text
*.db -text
*.sqlite -text
*.sqlite3 -text
